// Default
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg-color);
    color: var(--body-color);
    transition: color .6s, background-color .6s;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;

    footer {
        margin-top: auto;
    }
}

img {
    max-width: 100%;
}

.mb-50 {
	margin-bottom: 5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 12rem;
    }
}

.text {
    &__col {
        columns: auto 1;
        column-gap: 30px;

        &--two {
         column-count: 2;

            @include media-breakpoint-down(md) {
                column-count: 1;
            }
        }
    }
}

.ham {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:rgba(#000, .7);
    stroke-width:4.5;
    stroke-linecap:round;
}
.ham3 .top {
    stroke-dasharray: 40 130;
}
.ham3 .middle {
    stroke-dasharray: 40 140;
}
.ham3 .bottom {
    stroke-dasharray: 40 205;
}
.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}
.ham3.active .middle {
    stroke-dashoffset: -102px;
}
.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}
