.text-center {
    text-align: center;
}

.space-bottom {
    margin-bottom: var(--space);
}

@keyframes blinkRedBlue {
    0% {
        background-color: #F00;
    }

    25% {
        background-color: #A00;
    }

    50% {
        background-color: #F00;
    }
    51% {
        background-color: #0001A9;
    }

    75% {
        background-color: #0001A9;
    }

    100% {
        background-color: #0001A9;
    }
}
